.NavContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    font-size: large;
    align-items: center;
    transition: width 2s ease-in;
    z-index: 15;
}
.NavContainer h2{
    font-weight: bold;
    color:#210002;

}
.nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

li{
    list-style: none;
}
.elem{
    text-decoration: none;
    color:#210002;
    padding: 1vh 3vh;
    font-weight: bold  ;
    
}
.NavContainer .nav li .elem:hover{
    background-color: rgba(122,39,27,0.8);
    overflow: hidden;
    border-radius: 25px;
    color: white;
}
.i1{
    display: none;
}

@media (max-width: 700px){
    .NavContainer .nav.inactive{
        display: none;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background-color: aquamarine;
        background: transparent;
        /* background-image: url('../assets/menu.png'); */
        background-position: center;
    }
    .toggleactive{
        width: 30px;
        height: 30px;
        background: transparent;
        /* background-color: aqua; */
        background-position: center;
        z-index: 2  ;
        gap: 0;
    }
    .NavContainer .active{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 75%;
        height: 100%;
        background-color: orange;
        padding: 0;
        z-index: 10;
        margin: 0;
    }
    .i1{
        display: block;
        height: 30px;
        width: 30px;
    }
}
.disappear{
    display: none;
}